<!DOCTYPE>
<html>
	<head>
		<title>D-table</title>
			<link rel="stylesheet" href="style.css">
		
		<!--material design lite-->
		<script src="/mdl/material.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		</head>

		<body>
		<!--本体-->
		<%= yield %>

		<!--javascriopt-->
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>  
		<script type="text/javascript" src="script.js"></script>
    	<script type="text/javascript "src="index.js"></script>
	</body>
</html>
