<h2>科目一覧</h2>
	<p>a</p>
	<p>i</p>
	<p>u</p>

<h2>科目入力欄</h2>
<form action="#">
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" id="sample1" />
    <label class="mdl-textfield__label" for="sample1">科目名</label>
  </div>
</form>

