@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

*{margin:0;padding:0;}

body{
  background:#567;
  font-family:'Open Sans',sans-serif;
  
}


.logins{
  font-size:300%;
  width:40%;
  height:2em;
  background:#3399cc;
  display:block;
  margin:auto;
  padding:0;
  text-align: center;
  line-height:2em;
  text-decoration:none;
  font-size:3em;
  color:#fff;
  cursor:pointer;
  margin: 0 auto;
  margin-top: 1em;
  transition:background .3s;
  -webkit-transition:background .3s;
}
.button p{
	margin-top: 1em;
	padding-top: 0.3em;
}

.button:hover{
  background:#2288bb;
}
.form.option{
	color:#ada;
}
#login{
  width:80%;
  margin:0 auto;
  margin-top:0px;
  display: none;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
}

#triangle{
  width:0;
  border-top:20px solid transparent;
  border-right:20px solid transparent;
  border-bottom:20px solid #3399cc;
  border-left:20px solid transparent;
  margin:0 auto;
}

#login h1{
  background:#3399cc;
  padding:20px 0;
  font-size:140%;
  font-weight:300;
  text-align:center;
  vertical-align:center;
  color:#fff;
}

form{
  background:#f0f0f0;
  padding:6% 4%;
}




input[type="submit"]{
  margin-top: 1%;
  width:100%;
  background:#3399cc;
  border: 0;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:3em;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

input[type="submit"]:hover{
  background:#2288bb;
  color:#EBB52D;
}